<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <label>
        Estimad@ [ClientName]
        <br />
        <br />
        Recibe un cordial saludo de Avianca Cargo
        <br />
        De acuerdo con la solicitud de cotización No. [QuotationNum] te ofrecemos la siguiente tarifa: ([valRate] USD)
        <br />
        [AgentComments]
    </label>
    <br />
    <br />
    <label>
        Detalles de cotización
        <br />
        Nombre: [ClientName]    Origen: [Origin]  Destino: [Destination]  Tipo de carga: [LoadType]
    </label>
    <br />
    <br />
    <div>
        [DetalleCotizacion]
    </div>
    <br />
    <br />
    <br />
    <div>
        <label>
            Saludos<br />
            [UserName]
        </label>
    </div>
</body>
</html>
